@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --font-family: 'Poppins';
    --correct-color: #13d102;
    --incorrect-color: #ff0000ce;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: powderblue ;
    
    font-family: var(--font-family);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.container{
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 2rem;
    
}
.container #score{
    font-size: 1.5rem;
    margin-top: -50px;
    color: #000;
}
.container .quiz-box{
    width: 100%;
    height: 100%;
    /* padding: 2rem; */
}
.container .quiz-box #question {
    font-size: 2rem ;
    margin-top: 0;
    border-bottom: 1px solid #c1c1c1;
    padding: 3rem  2rem;
}
.container .quiz-box .answers{
    list-style: none;
    font-size: 1.5rem;
    /* line-height: 3rem; */
}
.container .quiz-box .answers .answer{
    padding: 0.5rem 0  0.5rem 3rem;
    border: 1px solid #c1c1c1;
    margin: 20px 25px 20px 0 ;
    border-radius: 1rem;
    cursor: pointer;
}

.container .quiz-box .answers #btn{
    padding: 1rem 2.5rem;
    font-size: 2rem;
    border-radius: 10px;
    margin-right: 1.5rem ;
    float: right;
    outline: none;
    border: 3px solid #6ed6e4;
    background-color: #fff;
    color: #6ed6e4;
    transform: all 0.3s ease-in;
}
.container .quiz-box .answers #btn:hover:disabled{
    background-color: #c1c1c15e;
    border-color: #c1c1c1;
    color: #c1c1c1;
}
.container .quiz-box .answers #btn:disabled{
    background-color: #c1c1c15e;
    border-color: #c1c1c1;
    color: #c1c1c1;
}
.container .quiz-box .answers #btn:hover{
    cursor: pointer;
    background-color: #6ed6e4;
    color:#fff ;
}
.correct-answer{
    background-color: var(--correct-color);
    color: #fff;
    
}

.incorrect-answer{
    background-color: var(--incorrect-color);
    color: #fff;
}
.display-none{
    display: none;
}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
}
#start{
   padding: 2rem  4.5rem;
   font-size: 2rem;
   font-family: var(--font-family);
   outline: none;
   border-radius: 10px;
   cursor: pointer;
}
#quiz h3{
    text-align: center; 
}
#quiz{ 
    align-items: center !important  ;
}
@media screen and (max-width: 768px){
    .container.container-flex{
        max-width: 300px !important;
        margin-top: 1rem !important;
    }
    #start{
        padding: 1rem !important;
    }
    .container{
        max-width: 300px !important;
        margin-top: 3rem !important;
        margin-bottom: 7rem !important;
    }
    
    .quiz-box #question{
        font-size: 1.2rem !important;
        padding: 1rem 2rem !important;
    }
    .container .quiz-box .answers{
        font-size: .9rem !important;
    }
    .container .quiz-box .answers #btn{
        padding: 0.5rem 1rem !important ;
        font-size: 1rem !important;
    }
}
@media (min-width: 769px) and (max-width: 1000px){
    .container.container-flex{
        max-width: 550px !important;
        margin-top: 1rem !important;
    }
    .container{
        max-width: 650px !important;
    }
    .container .quiz-box .answers #btn{
        padding: 0.8rem 1.6rem !important;
        font-size: 1.5rem !important;
    }
}